relationship.friend {
  color: red;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
}

relationship.join{
  color: blue;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
}

node.en{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.und{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.zh_CN{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.cs{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.fr{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.zh_TW{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.ja{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}
node.business {
  color: aqua;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.education {
  color: fuchsia;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.environment {
  color: blue;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.family {
  color: teal;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.food{
  color: green;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.friend {
  color: orange;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}


node.health{
  color: purple;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.music{
  color: red;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.politics{
  color: white;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.sport {
  color: yellow;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.tech {
  color: maroon;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 30px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}



