relationship.friend {
  color: red;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
}

relationship.join{
  color: blue;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
}

node.en{
  color: aqua;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}

node.und{
  color: #C0C0C0;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}

node.en{
  color: aqua;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px; 
}

node.zh_TW{
  color: fuchsia;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.zh_CN{
  color: fuchsia;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.fr{
  color: orange;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.es{
  color: yellow;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}

node.ja{
  color: green;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 10px;
  border-width: 2px;
  caption: '{id}';
  font-size: 10px;
}


